* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.erica-one-regular {
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 .epilogue-regular {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
body {
    background: linear-gradient(231.16deg, #e7644d 17.93%, rgb(210 69 44) 83.94%);
    color: #f1d8c5;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}


.Logo-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top:20px;
    
    .Logo{
        font-family: "Erica One";
        font-weight: lighter;
        font-size: 20px;
        margin-left: 30px;
    }
    
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top:30px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in;
    
}
.header nav {
    display: flex;
    gap: 20px;

   
   
}

.header nav a {
    color: #f1d8c5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Epilogue";

}
.content-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    

.content {
    text-align: center;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
   
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .left-side {
    opacity: 1;
    transition: 0.4s;
    }
    .right-side {
        color:#f1d8c5;
        opacity: 1;
        transition: 0.3s;
        .Text {
            text-align: left;
            margin-bottom: 60px;
            h1{
                font-family: "Erica One";
                font-size: 64px;
                font-weight: lighter;
                
            }
             p{
                font-family: "Epilogue" ;
                font-size: 40px;
            }
        }
        .button-start {
            text-align: right;

            button {
                font-family: "Erica One";
                font-weight: lighter;
                /* width: 50%; */
                padding: 15px;
                background-color: #f1d8c5;
                color: #ee573c;
                font-size: 32px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    
}

.button-container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -200px;
    height: 45px;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-out;
    z-index: 2;
    
    .Button-flex-display {
        display: flex;
        justify-content: center;
        gap: 32px;
        width: 75%;
        max-width: 1080px;
        
       


        .Button-quantificateur {
            display: flex;
            justify-content: flex-end;
            align-content: flex-start;
            align-items: center;
            width: 100%;
            position: relative;
            .Quantificateur-Values-Box {
                background: #f1d8c5;
                width: 100%;
                max-width: 313px;
                height: calc(3 * 45px);
                position: absolute;
                bottom: 50px;
                border-radius: 10px;
                border: 1px solid #E64A2E;
                bottom: -100px;
                opacity: 0;
                transition: 0.5s;
                
                    .Quantificateur-Choice-List{
                        height: 100%;
                        padding: 5px;
                        .Quantificateur-Choice-List-Values-and-add::-webkit-scrollbar {       /*  Scroll Bar Disabler for Safari */
                            display: none;
                          } 
                        .Quantificateur-Choice-List-Values-and-add{
                            height: 100%;
                            overflow: scroll;
                            -ms-overflow-style: none;  /* IE and Edge */
                            scrollbar-width: none;
                            padding: 10px;
                            .Add-Button{
                                color: rgba(238, 87, 60, 0.8);
                                background-color: #e4d7d0ea;
                                border-radius: 10px;
                                text-align: left;
                                height: 41px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 10px;
                                margin-bottom: 4px;
                                p {
                                    pointer-events: none;
                                    font-size: larger;
                                    margin: 0;
                                    font-family: "Epilogue";
                                }
                            }
                            .Quantificateur  {
                                color: rgba(238, 87, 60, 0.8);
                                background-color: #e4d7d0ea;
                                border-radius: 10px;
                                text-align: left;
                                height: 41px;
                                display: flex;
                                align-items: center;
                                padding: 10px;
                                margin-bottom: 4px;

                                    p {
                                        pointer-events: none;
                                        font-size: larger;
                                        margin: 0;
                                        font-family: "Epilogue";
                                    }
                            }
                        }
                    }
            }
            input {
                width: 100%;
                min-width: 209px ;
                pointer-events: none;
                background-color:#f1d8c5 ;
                height: 100%;
                border-radius: 10px;
                border: 1px solid #E64A2E;
                padding-left: 15px;
            }
            .arrow-up{
                position: absolute;
                margin: 10px 10px 11px 10px;
                transform: rotate(180deg);
                transition: 0.2s;
            }
        }
        .placeholder-sujet {
            width: 100%;
            min-width: 209px ;

            input {
                width: 100%;
                background-color:#f1d8c5 ;
                height: 100%;
                border-radius: 10px;
                border: 1px solid #E64A2E;
                padding-left: 15px;
            }
           
        }
        .placeholder-predicat {
            width: 100%;
            min-width: 209px ;
            input {
                width: 100%;
                background-color:#f1d8c5 ;
                height: 100%;
                border-radius: 10px;
                border: 1px solid #E64A2E;
                padding-left: 15px;
            }
    
        }
        .Button-send{
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#f1d8c5;
            height: 94%;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
           
        }
        input:focus{
            outline: none;
        }
        ::placeholder {
           
            font-size: larger ;
            
            font-family: "Epilogue";
            color: rgba(238, 87, 60, 0.6);
        }
    }
   

}

}
.Premisse-container::-webkit-scrollbar {       /*  Scroll Bar Disabler for Safari */
    display: none;
  } 
.Premisse-container{
    width: 100%;
    height: 100%;
    padding: 30px 30px 100px;
    transition: 0.3s;
    transition-delay: 0.3;
    opacity: 0;
    position: absolute;
    display: none;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-start;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    overflow: scroll;
        .Premisse1{
            text-align: end;
            margin-top: 20px;
            #Title-Prop {
                font-family: "Erica One";
                font-weight: lighter;
                font-size: 24px;
                margin-top: 10px;

                

            }
            #Sentence-Prop{
                margin-top: 10px;
                font-size: 40px;
                font-family: 'Epilogue';
                margin-bottom: 0;
            }
        }
}
}
   


/* .illustration {
 
} */

h1 {
    font-size: 48px;
    
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}


#startButton {
    transition: 0.2s;
}
#startButton:hover {
    background-color: #FFCCBC;
    transform: scale(0.98);
    transition: 0.2s;
}





@media (max-width: 490px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 1040px) {
    
}
@media (max-width: 1440px) {
    
}

