* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.erica-one-regular {
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 .epilogue-regular {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
body {
    background: linear-gradient(231.16deg, #e7644d 17.93%, rgb(210 69 44) 83.94%);
    color: #F1E3D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.Logo-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top:20px;
    
    .Logo{
        font-family: "Erica One";
        font-weight: lighter;
        font-size: 20px;
        margin-left: 30px;
    }
    
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top:30px;
    display: flex;
    justify-content: center;
    
}
.header nav {
    display: flex;
    gap: 20px;

   
   
}

.header nav a {
    color: #F1E3D9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Epilogue";

}

.content {
    text-align: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .right-side {
        
        .Text {
            text-align: left;
            margin-bottom: 60px;
            h1{
                font-family: "Erica One";
                font-size: 64px;
                font-weight: lighter;
                
            }
             p{
                font-family: "Epilogue" ;
                font-size: 40px;
            }
        }
        .button-start {
            text-align: right;
            button {
                font-family: "Erica One";
                font-weight: lighter;
                /* width: 50%; */
                padding: 15px;
                background-color: #F1E3D9;
                color: #ee573c;
                font-size: 32px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    
}
   
}

.illustration {
 
}

h1 {
    font-size: 48px;
    
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}



button:hover {
    background-color: #FFCCBC;
}


@media (max-width: 490px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 1040px) {
    
}
@media (max-width: 1440px) {
    
}

